{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid mt-4">
		<div
			class="row">
			<!-- MENU LATERAL -->
			<div
				class="col-md-3">
				{# <h1 class="h2">Dashboard</h1> #}
				<div class="list-group">
					<a href="{{ path('app_dashboard') }}" class="list-group-item list-group-item-action active">
						Mon compte
					</a>
					<a href="{{ path('app_user_profile') }}" class="list-group-item list-group-item-action">
						Mon profil
					</a>
					<a href="#" class="list-group-item list-group-item-action">
						Mes crédits
					</a>
					<a href="#" class="list-group-item list-group-item-action">
						Mes avis
					</a>

					{% if "ROLE_CONDUCTEUR" in app.user.roles %}
						<a href="{{ path('app_dashboard_add_route') }}" class="list-group-item list-group-item-action">
							Ajouter un trajet
						</a>
						<a href="{{ path('app_dashboard') }}#trajets" class="list-group-item list-group-item-action">
							Mes trajets
						</a>
						<a href="#" class="list-group-item list-group-item-action">
							Mes véhicules
						</a>
						<a href="#" class="list-group-item list-group-item-action">
							Mes préférences
						</a>

					{% endif %}

					{% if "ROLE_PASSAGER" in app.user.roles %}
						<a href="{{ path('app_dashboard') }}#reservations" class="list-group-item list-group-item-action">
							Mes réservations
						</a>

					{% endif %}
				</div>
			</div>

			<!-- CONTENU PRINCIPAL -->
			<div class="col-md-9">
				{# {{ dump(app.user) }} #}
				{# <h1>Bienvenue
									{{ app.user.firstname }}</h1> #}

					{% if "ROLE_PASSAGER" in app.user.roles %}<h2 id="preferences"> Mes préférences</h2>
					{% if routes is empty %}
						<p>Vous n’avez pas encore ajouté de préférences.</p>
					{% else %}
						<ul>
							{% for route in routes %}
								<li>{{ route.departureTown }}
									→
									{{ route.arrivalTown }}
									({{ route.departureDay|date('d/m/Y') }})</li>
							{% endfor %}
						</ul>
					{% endif %}
				{% endif %}

				{# {% if isConducteur %} #}
				{% if "ROLE_CONDUCTEUR" in app.user.roles %}
					<h2 id="trajets">Mes trajets</h2>
					{% if routes is empty %}
						<p>Vous n’avez pas encore ajouté de trajet.</p>
					{% else %}
						<ul>
							{% for route in routes %}
								<li>{{ route.departureTown }}
									→
									{{ route.arrivalTown }}
									({{ route.departureDay|date('d/m/Y') }})</li>
							{% endfor %}
						</ul>
					{% endif %}
				{% endif %}

				{% if "ROLE_PASSAGER" in app.user.roles %}
					<h2 id="reservations">Mes réservations</h2>
					{% if reservations is empty %}
						<p>Vous n’avez pas encore réservé de trajet.</p>
					{% else %}
						<ul>
							{% for resa in reservations %}
								<li>{{ resa.route.departureTown }}
									→
									{{ resa.route.arrivalTown }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
