{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Modifier mon profil</h1>

    {{ form_start(profilForm) }}
        {{ form_row(profilForm.firstname) }}
        {{ form_row(profilForm.lastname) }}
        {# {{ form_row(profilForm.username) }} #}
        {# {{ form_row(profilForm.email) }} #}
        {{ form_row(profilForm.phoneNumber) }}
        {{ form_row(profilForm.street) }}
        {{ form_row(profilForm.addressComplement) }}
        {{ form_row(profilForm.postalCode) }}
        {{ form_row(profilForm.city) }}

        {# affichage modifiable des rôles (checkbox) #}
        {{ form_row(profilForm.roles) }}

        {# affichage en lecture seule des rôles actuels #}
        <p>
            Rôles actuels :
            {% for role in user.roles %}
                {% if role == 'ROLE_CONDUCTEUR' %}
                    Conducteur
                {% endif %}
                {% if role == 'ROLE_PASSAGER' %}
                    Passager
                {% endif %}
            {% else %}
                Aucun rôle attribué.
            {% endfor %}
        </p>

        <button class="btn btn-primary">Mettre à jour</button>
    {{ form_end(profilForm) }}
	<p> Pour une question de sécurité, vous serez redirigé vers la page de connexion, et si t'es pas content tu te barres !</p>
{% endblock %}
